#define IDD_DLG1 0x1000
#define IDC_EDT1 0x1001
#define IDC_STC1 0x1002
#include <resource.h>
IDD_DLG1 DIALOGEX 216,90,624,339
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,42,24,255,273,WS_EX_CLIENTEDGE
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,312,24,237,270
END

