#define IDM_MAIN 10000
#define IDM_MENU1 10001
#define IDM_MENU2 10002
#define IDM_MENU3 10003

IDM_MAIN MENU
BEGIN
  POPUP "菜单"
  BEGIN
    MENUITEM "查看",IDM_MENU2
    MENUITEM "淦",IDM_MENU3
  END
END

