#define DLG_MAIN 4096
#define IDM_MAIN 8192
#define IDM_OPEN 8193
#define IDM_EXIT 8194
#define IDM_1 16385
#define IDC_INFO 0x5000
#include <resource.h>

DLG_MAIN DIALOGEX 50,50,544,399
CAPTION "PE Dump"
FONT 9,"宋体",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
MENU IDM_MAIN
BEGIN
CONTROL "",IDC_INFO,"RichEdit20A",196|ES_WANTRETURN|WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP,0,0,540,396
END

IDM_MAIN MENU
BEGIN
  POPUP "file"
  BEGIN
    MENUITEM "OpenFile",IDM_OPEN
    MENUITEM "Exit",IDM_EXIT
  END
  POPUP "look"
  BEGIN
    MENUITEM "OriFile",IDM_1
  END
END

